.calander-slider-left{
	-ms-transform: rotate(-180deg); /* IE 9 */
    -ms-transform-origin: 20% 40%; /* IE 9 */
    -webkit-transform: rotate(-180deg); /* Chrome, Safari, Opera */
    -webkit-transform-origin: 20% 40%; /* Chrome, Safari, Opera */
    transform: rotate(-180deg);
    transform-origin: 20% 40%;
}

