.profile-join-photo{
	border-radius: 50%;
	width: 24px;
}

.profile-my-photo{
	height: 64px !important;
	width: auto !important;
	left: 3% !important;
}

@media screen and (max-width: 700px){
	.profile-my-photo{
		height: 32px !important;
		width: 32px !important;
	}
}

.profile-today-item:hover{
	background-color: #EEE !important;
}

.profile-today-item:active{
	background-color: rgb(129,146,214) !important;
}

.profile-month-item:hover{
	background-color: #EEE !important;
}

.profile-month-item:active{
	background-color: rgb(129,146,214) !important;
}