.profile-join-photo{
	border-radius: 50%;
	width: 24px;
}

.profile-my-photo{
	height: 64px !important;
	width: auto !important;
	left: 3% !important;
}

.profile-today-item:hover{
	background-color: #EEE;
};

.profile-today-item:hover{
	background-color: rgb(129,146,214);
};