html, body {
    min-height: 100% !important;
    height: 100%; 
    width: 100%;
    margin: 0;
    position: absolute;
    font-family: 'Yatra One','Microsoft JhengHei', cursive;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

.blockmodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    padding-top: 100%;
    z-index: 100; /* Sit on top */
    left: 0;
    bottom: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
}

.blockmodal-child {
	display: table-cell;
    padding: 2px 16px;
    background-color: #5cb85c;
    border: 8px #555 solid;
    color: white;
}

.blockmodal-infomation{
	display: none; /* Hidden by default */
    position: absolute;
    padding-bottom: 10px;
    padding-right: 20%;
    padding-left: 20%;
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
}


.blockmodal-infomation-child {
	display: table-cell;
    padding: 2px 16px;
    background-color: #FFF;
    color: black;
}

.fluid{
	width: 100% !important;
}


.blockmodal-infomation-subtitle{
	display: inline-block;
	vertical-align:top;
	white-space : nowrap;
}

.blockmodal-information-subtext{
	display: inline-block;
	vertical-align:top;
	width: 100%;
	white-space : nowrap;
	border-bottom: 1px #000 solid;
}

.blockmodal-information-subbtn{
	display: inline-block;
	vertical-align:top;
	white-space : nowrap;
	border-bottom: 1px #000 solid;
}

.blockmodal-infomation-titleimg{
	width: 100%;
	max-width: 120px;
	height: auto;
	border-radius: 50%;
	text-align: center;
	margin: 14px;
}

.blockmodal-infomation-type{
	text-align: center;
	font-size: 24px;
}

.blockmodal-infomation-cancelbtn{
	float: right;
	margin-right: 14px;
	padding: 0 10px !important;
}

.blockmodal-infomation-joinbtn{
	float: right;
	margin-right: 14px;
	padding: 0 10px !important;
}

.blockmodal-infomation-unjoinbtn{
	float: right;
	margin-right: 14px;
	padding: 0 10px !important;
}

.blockmodal-infomation-deletebtn{
	float: right;
	margin-right: 14px;
	padding: 0 10px !important;
}

.blockmodal-infomation-contectpassenger{
	float: right;
	margin-right: 14px;
	padding: 0 10px !important;
}

.blockmodal-infomation-contectposter{
	float: right;
	margin-right: 14px;
	padding: 0 10px !important;
}

.blockmodal-infomation-bouns-joinpeople{
	white-space : normal;
}

.blockmodal-infomation-passenger-item{
	border-radius: 50%;
	width: 36px;
	height: 36px;
}

.btn-disable{
	display: none !important
}

#block_map { 
	height: 180px; 
}

.rwd-margin{
	margin-top: 14px;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}


.logo{
	text-align: left;
	display: table;
	height: 256px;
}

.logo-text{
	padding: 0;
	font-size: 64px;
	vertical-align: bottom;
	display: table-cell;
}

.logo-subtext{
	padding: 0;
	font-size: 24px;
	vertical-align: bottom;
	display: table-cell;
}

.logo-bird{
	margin-left: 10%;
	display: inline-block;
	height: 256px;
}

.logo-ncu{
	float: right;
	height: 50px;
	display: inline-block;
}

.cssroot{
	position: relative;
	z-index: 2;
	left: 0px;
	right: 0px;
}


@media screen and (min-width: 700px) and (max-width: 1000px) {
	.menu-card{
		width: 100px !important;
		height: 100px !important;
	}

	.menu-card:hover{
		width: 110px !important;
		height: 110px !important;
	}

	.menu-content{
		padding-left: 20px !important;
	}

	.menu-title{
		font-size: 16px !important;
	}

	.menu-strong{
		font-size: 40px !important;
	}

	.root-background{
		width: 98% !important;
		margin-left: 1% !important;
		margin-right: 1% !important;
		border: 8px #000 solid !important;
	}

	.root-header{
		margin-right: 1% !important;
	}
}



	

@media screen and (max-width: 700px){

	

	.menu-card{
		display: none !important;
	}

	.logo-text{
		font-size: 48px;
	}

	.menu-content{
		padding-left: 15px !important;
	}


	.menu-title{
		font-size: 16px !important;
	}

	.menu-strong{
		font-size: 40px !important;
	}

	.root-background{
		width: 98% !important;
		margin-left: 1% !important;
		margin-right: 1% !important;
		border: 8px #000 solid !important;
	}

	.root-header{
		margin-left: 10% !important;
		margin-right: 1% !important;
	}

	.blockmodal-infomation{
		padding-left: 1px !important;
		padding-right: 2px !important;
	}

	.logo-ncu{
		display: none !important;
	}

}


@media screen and (max-width: 480px){

	

	.logo-text{
		font-size: 38px;
	}

	.menu-content{
		padding-left: 10px !important;
	}

	.menu-title{
		font-size: 16px !important;
	}

	.menu-strong{
		font-size: 40px !important;
	}

	.blockmodal-infomation-cancelbtn{
		
	}

	.blockmodal-infomation-joinbtn{
		padding: 0 10px;
	}

	.blockmodal-infomation-unjoinbtn{
		padding: 0 10px;
	}

	.blockmodal-infomation-deletebtn{
		padding: 0 10px;
	}
	
}



#menu{
	display: none;
}

#menu_mobile{
	display: none;
}

.root-background{
	position: absolute;
	width: 90%;
	height: 100%;
	left: 0;
	right: 0;
	top: 235px;
	margin-left: 5%;
	border: 10px #000 solid;
	border-radius: 30px;
	z-index: 1;
}

.root-header{
	position: absolute;
	top: 0px;
	width: auto;
	height: 235px;
	margin-top: 0px;
	margin-left: 50%;
	margin-right: 5%;
	-moz-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);

	z-index: 1;
}

.menu-card{
	position: absolute;
	box-shadow: 0px;
	border-radius: 50% !important;
	width: 130px;
	height: 130px;
	right: 5px;
	margin: 0;
	display: inline-block;
	border: 2px #fff solid;
}

.menu-bird{
	width: 30px;
	height: 30px;
	margin-left: -25px;
	margin-bottom: -30px;
	-ms-transform: rotate(-45deg); /* IE 9 */
    -ms-transform-origin: 20% 40%; /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    -webkit-transform-origin: 20% 40%; /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
    transform-origin: 20% 40%;
	float: left;
}
.menu-card:hover{
	width: 140px;
	height: 140px;
	border-width: 2px;
	border-color: rgba(233,233,233,0.9);
	background-color: rgb(129,194,214);
	-webkit-transition: width 0.2s,height 0.2s,background-color 0.2s,border 0.2s; /* Safari */
    transition: width 0.2s,height 0.2s,background-color 0.2s,border 0.2s;
}

.menu-card:active{
	background-color: rgb(129,146,214);
}

.context{
	z-index: 2;
	margin-right: 10px;
	margin-left: 10px;
}

.menu-content{
	padding: 0px !important;
	padding-top: 5px !important;
	padding-left: 20px !important;
}

.menu-title{
	font-size: 20px;
}

.menu-strong{
	font-size: 40px;
}

.disable-mobile-menu{
	display: none !important;
}

.mobile-menu-item{
	padding: 0 10px !important;
}

.fixed-action-btn{
	width: 80px;
	text-align: right;	
}



