<p>Welcom to about</p>
	<div class="container">
		<div class="row">
			<div class="col s12 m4 l4">
				<div class="card">
					<img class="about-image circle" src="https://graph.facebook.com/100000244681661/picture?type=large">
			      	<span> 中央大學通訊系 </br> 陳孟傑</span>
			    </div>
			</div>
			<div class="col s12 m4 l4">
				<div class="card">
					<img class="about-image circle" src="https://graph.facebook.com/100001699988036/picture?type=large">
			      	<span> 中央大學地科系 </br> 李奎模</span>
			    </div>
			</div>
			<div class="col s12 m4 l4">
				<div class="card">
					<img class="about-image circle" src="https://graph.facebook.com/100000852194873/picture?type=large">
			      	<span> 中央大學通訊系 </br> 曹立德</span>
			    </div>
			</div>
		</div>
	</div>
<div>
</div>