<p>Welcom to about</p>
		<div class="row">
			<div class="col s12 m12 l12 ">
				<span>管理員：</span>
			</div>
		</div>
		<div class="row">			
			<div class="col s12 m4 l4 rwd-margin">
				<div class="card" style="text-align: center;">
					<img class="about-image circle" src="https://graph.facebook.com/100001699988036/picture?type=large"></br>
			      	<span> 中央大學地科系 </br> 李奎模</span>
			    </div>
			</div>
			<div class="col s12 m4 l4 rwd-margin">
				<div class="card" style="text-align: center;">
					<img class="about-image" src="https://graph.facebook.com/100000852194873/picture?type=large"></br>
			      	<span> 中央大學地科系 </br> 曹立德</span>
			    </div>
			</div>
			<div class="col s12 m4 l4 rwd-margin">
				<div class="card" style="text-align: center;">
					<img class="about-image" src="https://graph.facebook.com/1658208727/picture?type=large"></br>
			      	<span> 中央大學地科系 </br> 蘇柏立</span>
			    </div>
			</div>
			<div class="col s12 m4 l4 rwd-margin">
				<div class="card" style="text-align: center;">
					<img class="about-image" src="https://graph.facebook.com/100001346327292/picture?type=large"></br>
			      	<span> 中央大學地科系 </br> 溫世揚</span>
			    </div>
			</div>
			<div class="col s12 m4 l4 rwd-margin">
				<div class="card" style="text-align: center;">
					<img class="about-image" src="https://graph.facebook.com/100000183362136/picture?type=large"></br>
			      	<span> 中央大學地科系 </br> 秦韶晉</span>
			    </div>
			</div>
			<div class="col s12 m4 l4 rwd-margin">
				<div class="card" style="text-align: center;">
					<img class="about-image" src="https://graph.facebook.com/100000080551822/picture?type=large"></br>
			      	<span> 中央大學地科系 </br> 黃俊銘</span>
			    </div>
			</div>
			<div class="col s12 m4 l4 rwd-margin">
				<div class="card" style="text-align: center;">
					<img class="about-image" src="https://graph.facebook.com/100001423369904/picture?type=large"></br>
			      	<span> 中央大學地科系 </br> 吳少凱</span>
			    </div>
			</div>
			<div class="col s12 m4 l4 rwd-margin">
				<div class="card" style="text-align: center;">
					<img class="about-image" src="https://graph.facebook.com/100001567295125/picture?type=large"></br>
			      	<span> 中央大學地科系 </br> 楊妤萱 </span>
			    </div>
			</div>
			<div class="col s12 m4 l4 rwd-margin">
				<div class="card" style="text-align: center;">
					<img class="about-image" src="https://graph.facebook.com/100000230306597/picture?type=large"></br>
			      	<span> 中央大學地科系 </br> 王維</span>
			    </div>
			</div>
			<div class="col s12 m4 l4 rwd-margin">
				<div class="card" style="text-align: center;">
					<img class="about-image" src="https://graph.facebook.com/1370596697/picture?type=large"></br>
			      	<span> 中央大學地科系 </br> 林耕霈</span>
			    </div>
			</div>
			<div class="col s12 m4 l4 rwd-margin">
				<div class="card" style="text-align: center;">
					<img class="about-image" src="https://graph.facebook.com/100001164202941/picture?type=large"></br>
			      	<span> 中央大學通訊系 </br> 吳函</span>
			    </div>
			</div>
			<div class="col s12 m4 l4 rwd-margin">
				<div class="card" style="text-align: center;">
					<img class="about-image circle" src="https://graph.facebook.com/100001575659130/picture?type=large"></br>
			      	<span> 化學工程與材料工程 </br> 徐德軒</span>
			    </div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12 m12 l12">
			<span>網頁製作：</span>
		</div>
	</div>
	<div class="row">
		<div class="col s12 m4 l4 rwd-margin">
			<div class="card" style="text-align: center;">
				<img class="about-image circle" src="https://graph.facebook.com/100000244681661/picture?type=large"></br>
		      	<span> 中央大學通訊系 </br> 陳孟傑</span>
		    </div>
		</div>
	</div>

</div>