<p>Welcom to calander</p>

<div class="row">
	<div class="col s2 m2 l2">
		<span> 搜尋： </span>
	</div>

	<div class="col s2 m2 l2">
		<span> 共乘方式： </span>
	</div>
	<div class="input-field col s3 m3 l3" style="margin-top:0px !important;">
		<select id="calander_search_type">			
			<option value="all">all</option>
		    <option value="post_have_seat">找位子</option>
		    <option value="post_find_seat">我想載人</option>
		    <option value="post_together_seat">我想找人一起搭車</option>
	    </select>
	</div>
	<div class="col s2 m2 l2">
		<span> 資訊： </span>
	</div>
	<div class="input-field col s3 m3 l3" style="margin-top:0px !important;">
		<select id="calander_search_info" >
			<option value="all">all</option>
			<option value="gender">性別</option>
		    <option value="location_from">從哪裡出發</option>
		    <option value="location_to">到哪裡</option>
		    <option value="bonus_response">回饋方式</option>
	    </select>
	</div>
</div>
	
<div class="card " id="calender-month" style="padding-top: 5px;">
	<div class="css-calender-month container ">
		<div class="row calander-menu">
			<div class="col s1 m1 l1">
				<div class="calander-slider-left">
					<i class="material-icons waves-effect waves-light ">play_circle_outline</i>
				</div>
			</div>
			<div class="col s10 m10 l10">
				<div class="calander-slider">
					<span class="calander-slider-month">August</span>
					<span class="calander-slider-year">2016</span>
				</div>
			</div>
			<div class="col s1 m1 l1">
				<div class="calander-slider-right">
					<i class="material-icons waves-effect waves-light ">play_circle_outline</i>
				</div>
			</div>
				
		</div>

		<div class="row" style="margin-bottom:0px;">

			<ul class="calander-weekdays">			
			  <li>Su</li>
			  <li>Mo</li>
			  <li>Tu</li>
			  <li>We</li>
			  <li>Th</li>
			  <li>Fr</li>
			  <li>Sa</li>
			</ul>

		</div>

		<div class="row" >
			<ul class="calander-days">
			  <li>
			  </li>
			  <li>2</li>
			  <li>3</li>
			  <li>4</li>
			  <li>5</li>
			  <li>6</li>
			  <li>7</li>
			  <li>8</li>
			  <li>9</li>
			  <li><span class="active">10</span></li>
			  <li>11</li>
			  <li>12</li>
			  <li>13</li>
			  <li>14</li>
			  <li>15</li>
			  <li>16</li>
			  <li>17</li>
			  <li>18</li>
			  <li>19</li>
			  <li>20</li>
			  <li>21</li>
			  <li>22</li>
			  <li>23</li>
			  <li>24</li>
			  <li>25</li>
			  <li>26</li>
			  <li>27</li>
			  <li>28</li>
			  <li>29</li>
			  <li>30</li>
			  <li>31</li>
			</ul>
		</div>


	</div>
</div>