<p>Welcom to home</p>

<div class="container">
	<div class="row">
		<div class="home-title"> 版規 </div>
	</div>

	<div class="row">
		<div class="home-itemtitle"> 1. </div>
		<div class="home-itemcontext"> 司機 PO 文需表明職業(學生/教職員/校外人士)，上車前應主動出示行照，駕照，學生證等身分證件，乘客也應主動要求看證件，管理員不負擔任何法律責任 </div>
	</div>

	<div class="row">
		<div class="home-itemtitle"> 2. </div>
		<div class="home-itemcontext"> 本版會以中央大學學生，教職員，校友為優先審核加入社團，FB未公開顯示學經歷或職業不允許加入 </div>
	</div>

	<div class="row">
		<div class="home-itemtitle"> 3. </div>
		<div class="home-itemcontext"> 此平台為非營利平台，司機與乘客自行討論回饋方式 (回饋油錢，車損等)，回饋形式乘客跟司機滿意就行，比如說一杯花茶，或寫問卷之類。歡迎各種創意方式。 </div>
	</div>

	<div class="row">
		<div class="home-itemtitle"> 4. </div>
		<div class="home-itemcontext"> 嚴禁放鳥司機 or 乘客，有任何問題請提早說明，多次放鳥會取消資格。</div>
	</div>

	<div class="row">
		<div class="home-itemtitle"> 5. </div>
		<div class="home-itemcontext"> 嚴守發文格式，違反發文規定，一律刪文，不另行通知。 </div>
	</div>

	<div class="row">
		<div class="home-itemtitle"> 6. </div>
		<div class="home-itemcontext"> 乘車意外由司機與乘客兩造討論，本社團僅為非營利平台，不負擔責任 </div>
	</div>

	<div class="row">
		<div class="home-itemtitle"> 7. </div>
		<div class="home-itemcontext"> 本組織管理員有權臨時修改管理規則，加入社團後視同同意，不得異議。 </div>
	</div>

	<div class="row">
		<div class="home-itemtitle"> 8. </div>
		<div class="home-itemcontext"> 禁止違法中華民國法律。 </div>
	</div>

	<div class="row">
		<div class="home-itemtitle"> 9. </div>
		<div class="home-itemcontext"> 相關補充 </div>
	</div>

	<div class="row">
		<div class="home-itemtitle"> (1). 選在人多的場所：</div>
		<div class="home-itemcontext"> 與人相約共乘時，盡量約在人多的公共場所。像是約在大眾運輸工具附近，萬一等不到其他共乘者時，也可以有其他替代交通工具。 </div>
	</div>

	<div class="row">
		<div class="home-itemtitle"> (2). 通知親朋好友：</div>
		<div class="home-itemcontext"> 與人相約共乘前，事先告知你的家人或朋友這次的共乘資訊，包括：與你共乘者的真實姓名，時間，目的地，車號等。 </div>
	</div>

	<div class="row">
		<div class="home-itemtitle"> (3). 出示證件</div>
		<div class="home-itemcontext"> 上車前共乘者互相出示個人證件，例如身分證，駕照，護照，學生證，以確保共乘者的真實身分。 </div>
	</div>

	<div class="row">
		<div class="home-itemtitle"> (4). 果斷決策：</div>
		<div class="home-itemcontext"> 在共同成形前，如果你有任何懷疑，應明確向對方表示欲立即取消共乘，不要猶豫或感到抱歉，當然應注意相關應對禮貌與可能避免因取消而造成對方勞力，時間，費用不必要支出。 </div>
	</div>

	<div class="row">
		<div class="home-itemtitle"> (5). 尋求協助</div>
		<div class="home-itemcontext"> 在共乘時，如果你有發現任何不對勁的地方，可能造成你個人安全的立即危害時，立刻撥打110請求協助。 </div>
	</div>
</div>