<p>Welcom to post</p>

<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s6">
          		<input placeholder="王大明" id="name" type="text" class="validate">
          		<label class="active" for="name">您的真實姓名</label>
        	</div>
	        <div class="input-field col s6">
	          	<select class="icons">
			        <option value="" data-icon="images/boy.png" class="circle">男</option>
			        <option value="" data-icon="images/girl.png" class="circle">女</option>
			    </select>
			    <label>性別</label>
	        </div>
      	</div>
    </form>
</div>