<p>Welcom to post</p>

<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s5">
          		<input placeholder="王大明" id="name" type="text" class="validate">
          		<label class="active" for="name">您的真實姓名</label>
        	</div>

        	<div class="input-field col s4">
	      		<input placeholder="地質系" id="major" type="text" class="validate">
	      		<label class="active" for="major">系所/職業</label>
	      	</div>

	        <div class="input-field col s3">
	          	<select class="icons">
			        <option value="boy" data-icon="images/boy.png" class="left circle">男</option>
			        <option value="girl" data-icon="images/girl.png" class="left circle">女</option>
			    </select>
			    <label>性別</label>
	        </div>
      	</div>

      	<div class="row">

      		<div class="col s1">
      			<span>地點：</span>
      		</div>
      		<div class="input-field col s5">
          		<input placeholder="中央大學男生宿舍" id="location_from" type="text" class="validate">
          		<label class="active" >從</label>
        	</div>
        	<div class="input-field col s5">
        		<input placeholder="中央大學女生宿舍" id="location_to" type="text" class="validate">
        		<label class="active" >到</label>
        	</div>
      	</div>

      	<div class="row">
      		<div class="col s1">
      			<span>時間：</span>
      		</div>
      		<div class="input-field col s3">
          		<input id="time_from_date" type="date" class="validate">          		
          		<label class="active" >日期</label>
        	</div>

        	<div class="input-field col s1">
          		<input id="time_from_hour" type="number" class="validate">       		
          		<label class="active" >時</label>
        	</div>

        	<div class="input-field col s1">
          		<input id="time_from_minute" type="number" class="validate">		
          		<label class="active" >分</label>
        	</div>

        	<div class="col s1">
      			<span>到</span>
      		</div>

        	<div class="input-field col s3">
          		<input id="time_to_date" type="date" class="validate">          		
          		<label class="active" >日期</label>
        	</div>

        	<div class="input-field col s1">
          		<input id="time_to_hour" type="number" class="validate">       		
          		<label class="active" >時</label>
        	</div>

        	<div class="input-field col s1">
          		<input id="time_to_minute" type="number" class="validate">		
          		<label class="active" >分</label>
        	</div>
      	</div>

      	<div class="row">

      		<div class="input-field col s6">
          		<input id="vehicle" type="text" class="validate">
          		<label class="active" for="vehicle">交通方式</label>
        	</div>

      		<div class="input-field col s2">
          		<input id="people_number" type="number" class="validate">
          		<label class="active" for="people_number">人數</label>
        	</div>

      		<div class="input-field col s4">
          		<input placeholder="40 NT/人" id="bonus_response" type="text" class="validate">
          		<label class="active" for="bonus_response">回饋方式</label>
        	</div>        	
      	</div>

      	<div class="row">
      		<div class="input-field col s12">
          		<textarea id="other_message" class="materialize-textarea"></textarea>
          		<label for="other_message">其他備註</label>
        	</div>
      	</div>


    </form>
</div>