<p>Welcom to post</p>

<div class="row">
    <form class="col s12">
    	<div class="row">
    		<div class="input-field col s12">
    			<select id="post_type" class="icons">
				    <option value="post_have_seat">我有位子</option>
				    <option value="post_together_seat">找人共乘</option>            
            <option value="post_find_seat" >我再找車</option>
				</select>
				<label>方式</label>
			</div>
    	</div>
        <div class="row">
            <div class="input-field col s5">
          		<input placeholder="王大明" id="post_name" type="text" class="validate">
          		<label class="active" for="post_name">您的真實姓名</label>
        	</div>

        	<div class="input-field col s4">
	      		<input placeholder="地質系" id="post_major" type="text" class="validate">
	      		<label class="active" for="post_major">系所/職業</label>
	      	</div>

	        <div class="input-field col s3">
	          	<select id="post_gender" class="icons">
			        <option value="boy" data-icon="images/boy.png" class="left circle">男</option>
			        <option value="girl" data-icon="images/girl.png" class="left circle">女</option>
			        <option value="other" data-icon="images/unknow.png" class="left circle">其他</option>
			    </select>
			    <label>性別</label>
	        </div>
      	</div>

      	<div class="row">

      		<div class="col s12 m1">
      			<span>地點：</span>
      		</div>
      		<div class="input-field col s12 m5">
          		<input placeholder="中央大學男生宿舍" id="post_location_from" type="text" class="validate">
          		<label class="active" >從</label>
        	</div>
        	<div class="input-field col s12 m5">
        		<input placeholder="中央大學女生宿舍" id="post_location_to" type="text" class="validate">
        		<label class="active" >到</label>
        	</div>
      	</div>

      	<div class="row">
      		<div class="col s12 m1">
      			<span>週期：</span>
      		</div>

      		<div class="col s12 m11">
      			<div class="row">
      				<div class="col s4 m2">
		          		<input type="checkbox" id="post_only_ontime" checked="checked"/>        		
		          		<label for="post_only_ontime">只限一次</label>
		        	</div>
		        	<div class="col s4 m2">
		          		<input type="checkbox" name="post_peroid" value="MON" id="post_mon" disabled="disabled"/>        		
		          		<label for="post_mon">星期一</label>
		        	</div>
		        	<div class="col s4 m2">
		          		<input type="checkbox" name="post_peroid" value="TUE" id="post_tue" disabled="disabled" />        		
		          		<label for="post_tue">星期二</label>
		        	</div>
		        	<div class="col s4 m2">
		          		<input type="checkbox" name="post_peroid" value="WEN" id="post_wed" disabled="disabled"/>        		
		          		<label for="post_wed">星期三</label>
		        	</div>
		        	<div class="col s4 m2">
		          		<input type="checkbox" name="post_peroid" value="THU" id="post_thu" disabled="disabled" />        		
		          		<label for="post_thu">星期四</label>
		        	</div>
		        	<div class="col s4 m2">
		          		<input type="checkbox" name="post_peroid" value="FRI" id="post_fri" disabled="disabled"/>        		
		          		<label for="post_fri">星期五</label>
		        	</div>
		        	<div class="col s4 m2">
		          		<input type="checkbox" name="post_peroid" value="SAT" id="post_sat" disabled="disabled"/>        		
		          		<label for="post_sat">星期六</label>
		        	</div>
		        	<div class="col s4 m2">
		          		<input type="checkbox" name="post_peroid" value="SUN" id="post_sun" disabled="disabled"/>        		
		          		<label for="post_sun">星期日</label>
		        	</div>
      			</div>
      		</div>
      	</div>


      	<div class="row">
      		<div class="col s12 m1">
      			<span>時間：</span>
      		</div>
      		<div class="input-field col s6 m4">
          		<input id="post_time_from_date" type="date" class="validate">          		
          		<label class="active" >日期</label>
        	</div>

        	<div class="input-field col s3 m2">
          		<input id="post_time_from_hour" onkeypress='return event.charCode >= 48 && event.charCode <= 57' type="number" class="validate" min="0" max="23">       		
          		<label class="active" >時</label>
        	</div>

        	<div class="input-field col s3 m2">
          		<input id="post_time_from_minute" onkeypress='return event.charCode >= 48 && event.charCode <= 57' type="number" class="validate" min="0" max="59">
          		<label class="active" >分</label>
        	</div>
      	</div>

      	<div class="row">

      		<div class="input-field col s12 m6">
          		<input id="post_vehicle" type="text" class="validate">
          		<label class="active" for="post_vehicle">交通方式</label>
        	</div>

      		<div class="input-field col s4 m2">
          		<input id="post_people_number" onkeypress='return event.charCode >= 48 && event.charCode <= 57' type="number" class="validate" min="2" value="2">
          		<label class="active" for="post_people_number" >人數</label>
        	</div>

      		<div class="input-field col s8 m4">
          		<input placeholder="40 NT/人 ( 若不需要請寫無 )" id="post_bonus_response" type="text" class="validate">
          		<label class="active" for="post_bonus_response">回饋方式</label>
        	</div>        	
      	</div>

      	<div class="row">
      		<div class="input-field col s12">
          		<textarea id="post_other_message" class="materialize-textarea"></textarea>
          		<label for="post_other_message">其他備註</label>
        	</div>
      	</div>

      	<div class="row">
      		<div class="col s2 offset-s10">
          		<div class="waves-effect waves-light btn" id="post_button">送出</a>
        	</div>
      		
      	</div>


    </form>
</div>